body{
    margin: 3%;
    text-align: center;
}

.container{
    margin: auto;
    box-shadow: 0px 0px 5px black;
    width: 23%;
    height: 61vh;
    border-radius: 10px;
}

button{
    width: 55px;
    height: 55px;
    border-radius: 10px;
    font-size: 25px;
    border: none;
    cursor: pointer;
}

.btn{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 3px; 
    padding: 6px;
}

#display{
    width: 92%;
    height: 10vh;
    border: none;
    color: black;
    font-size: 35px;
    font-style: bold;
}

/* The Color Styling */
.orange{
    color: white;
    background-color: orange;
}

.black{
    color: white;
    background-color: rgba(10, 9, 9, 0.7);
}

.gray{
    color: white;
    background-color: gray;
}

/* The Equal sign and the Negative Sign adjustment */

#Subtract{
    margin-top: 2%;
    width: 55px;
    height: 45px;
}

#equalSign{
    margin-top: -15%;
    width: 55px;
    height: 65px;
}

/* Responsiveness */
 /* @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape){
    .container{
        width: 28%;
        height: 62vh;
    }
} 

 @media (max-width: 768px) and (orientation: portrait){
    .container{
        width: 28%;
        height: 62vh;
    }
} 

 @media (min-width: 320px) {
    .container{
        width: 52%;
        height: 64vh;
    }
}  */

/* @media (min-width:320px) and  (max-width:480px){
    .container{
        width: 65%;
        height: 60vh;
    }
}  */
